<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'>
  </head>
  <body>
    <div>
      <h1>New article <% if @article.category %>in <%= @article.category.name %> category<% end %></h1>
      <p>Dear <%= @user.email %>,</p>
      <p>A new article has been added to the <% if @article.category %> <%= @post.category.name %> category<% end %></p>
      <ul>
        <li>Title: <%= @article.title %></li>
        <li>Body: <%= @article.body %></li>
      </ul>
      <p>Thank you for using our website!</p>
    </div>
  </body>
</html>

 